<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>About</title>
</head>
<body>
    <nav class="topnav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1 class="about">About Camus</h1>
    
    <div class="fotoAbout">
    <img src="/images/camus2.jpg" alt="Camus smoking" />
    </div>

    
        <article>
    <p>Albert Camus was a French philosopher, author, dramatist and journalist. 
        He was awarded the 1957 Nobel Prize in Literature at the age of 44, the second-youngest recipient in history.
        His works include The Stranger, The Plague, The Myth of Sisyphus, The Fall, and The Rebel.</p>

    <p>Camus was born in French Algeria to Pieds Noirs parents.
        He spent his childhood in a poor neighbourhood and later studied philosophy at the University of Algiers. 
        He was in Paris when the Germans invaded France during World War II in 1940. 
        Camus tried to flee but finally joined the French Resistance where he served as editor-in-chief at Combat, an outlawed newspaper.</p>
        
        <p>Philosophically, Camus's views contributed to the rise of the philosophy known as absurdism. 
        Some consider Camus's work to show him to be an existentialist, even though he himself firmly rejected the term throughout his lifetime.</p>

        </article>
</body>
</html>