<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Gallery</title>
</head>
<body>
    <nav class="topnav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <div class="fotosGaleria">
        <h3>The Fall</h3>
        <img src="/images/thefall.jpg" alt="" />
        <br>
        <h3>The First Man</h3>
        <img src="/images/thefirstman.jpg" alt="" />
        <br>
        <h3>The Plague</h3>
        <img src="/images/theplague.jpg" alt="" />
        <br>
        <h3>The Stranger</h3>
        <img src="/images/thestranger.jpg" alt="" />
    </div>
</body>
</html>