<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Works</title>
</head>
<body>
    <nav class="topnav">
        <a href="/home">Home</a>
        <a href="/about">About</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>

    <h1 class="work">Work</h1>
    <article>
        <p>Camus had an extensive literary carrer. 
        His first publication was a play called Révolte dans les Asturies (Revolt in the Asturias) written with three friends in May 1936. 
        In May 1937 he wrote his first book, L'Envers et l'Endroit (Betwixt and Between, also translated as The Wrong Side and the Right Side).</p>
        
        <p>Camus separated his work into three cycles. 
            Each cycle consisted of a novel, an essay, and a play. The first was the cycle of the absurd consisting of L'Étranger, Le Mythe de Sysiphe, and Caligula. 
            The second was the cycle of the revolt which included La Peste (The Plague), L'Homme révolté (The Rebel), and Les Justes (The Just Assassins). 
            The third, the cycle of the love, consisted of Nemesis. 
            Each cycle was an examination of a theme with the use of a pagan myth and including biblical motifs.</p>

        <p>After receiving the Nobel Prize, Camus gathered, clarified, and published his pacifist leaning views at Actuelles III: Chronique algérienne 1939–1958 (Algerian Chronicles). 
            He then decided to distance himself from the Algerian War as he found the mental burden too heavy. 
            He turned to theatre and the third cycle which was about love and the goddess Nemesis.</p>
    </article>


<h2>Books</h2>
<ul>
    <li>The Stranger (L'Étranger)</li>
    <li>The Plague (La Peste)</li>
    <li>The Fall (La Chute)</li>
    <li>The First Man (Le Premier Homme)</li>
</ul>






</body>
</html>