@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Roboto+Mono:wght@200&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
}

.topnav a{
    text-decoration: none;
    font-size: 20px;
    color:white;
}
.topnav{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: flex-start;
	align-content: stretch;
	background-color: black;
	margin-top: 10px;
	margin-bottom: 30px;
}

.home {
	text-align: center;
	font-size: 50px;
}

.quote{
	text-align: right;
	font-style: oblique;

}

.fotoHome img{
	width: 100%;
}

.about{
text-align: center;
}

.fotoAbout img{
    width: 100%;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

p {
	text-align: justify;
	line-height: 1.5;
}

.work {
	text-align: center;
}

h2 {
	text-align: center;
}

li {	
	line-height: 1.5;
	font-style: italic;
}

.fotosGaleria img{
    width:  50vh;
    display: flex;
	flex-direction: column;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: center;
	align-content: center;
}

